.body {
    margin: 0;
}

.header-home {
    background-color: pink;
    display: flex;
}

.div-header {
    display: flex;
}

.img-header {
    width: 150px;
    height: 225px;
    display: block;
}

.img-header:hover {
    opacity: 0.7;
}

.p-header {
    font-size: 400%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

.b-home {
    background-image: url(pic1.jpg);
    background-size: cover;
    padding: 10px 20px;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.b-about {
    background-image: url(pic2.jpg);
    background-size: cover;
    padding: 10px 20px;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.b-moments {
    background-image: url(pic3.jpg);
    background-size: cover;
    padding: 10px 20px;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}